<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classification Using Different Algorithms</title>
</head>
<body>
    <div class="login">
	<h1>Error Reduction</h1>

    <form action="{{ url_for('predict')}}" method="post">
        <input type = "text" name = "Time in seconds" placeholder="Time in seconds"  required="required" />
        <input type = "text" name = "Acceleration reading in G for frontal axis" placeholder="Acceleration reading in G for frontal axis"  required="required" />
        <input type = "text" name = "Acceleration reading in G for vertical axis" placeholder="Acceleration reading in G for vertical axis"  required="required" />
        <input type = "text" name = "Acceleration reading in G for lateral axis" placeholder="Acceleration reading in G for lateral axis"  required="required" />
        <input type = "text" name = "Id of sensor antenna" placeholder="Id of sensor antenna"  required="required" />
        <input type = "text" name = "RSSI" placeholder="RSSI"  required="required" />
        <input type = "text" name = "phase" placeholder="phase"  required="required" />
        <input type = "text" name = "frequency" placeholder="frequency"  required="required" />

                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

    </form>
    <br>
    <br>



    </div>
</body>
</html>